:root {
    --color-text: hsl(200, 15%, 8%) ;
    --color-input: hsl(0, 0%, 52%);
    --color-background: hsl(0, 0%, 100%);

    --color-text-dm: hsl(0, 0%, 100%);
    --color-input-dm: hsl(0, 0%, 52%);
    --color-background-dm: hsl(200, 15%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin: 0 5rem;
}


main, .filters {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

header button {
    background-color: var(--color-background);
    border: solid 4px var(--color-input);
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    outline-width: 5px;
    position: relative;
    width: 100px;
}

.icon {
    background-color: var(--color-input);
    border-radius: 100%;
    content: "";
    display: block;
    height: 30px;
    margin: 6px 10px;
    position: relative;
    width: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

button span {
    bottom: 100%;
    color: var(--color-text);
    font-size: 10px;
    left: 50%;
    padding: 12px 0;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

.filters {
    display: none;
}

.filters.active {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#query, .filters select  {
    background-color: var(--color-background);
    border: 1px solid var(--color-input);
    box-shadow: 8px 8px 12px 0px var(--color-input);
    padding: .75rem;
    border-radius: 10px;
}

header, 
main {
    max-width: 1280px;
    margin: 1rem auto;
}

ul {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}

li{
    border-radius: 10px;
    border: 1px solid var(--color-input);
    box-shadow: 2px 2px 8px 0px var(--color-input);
    overflow: hidden;
}

li a {
    color: var(--color-text);
    text-decoration: none;
}

li img {
    width: 100%;
    aspect-ratio: 160/98;
}

.info-container  {
    padding: .75rem .5rem;
}

.country-name {
    /* display: block; */
    font-size: 18px;
    margin-bottom: 10px;
}

.go-back-button {
    border: 1px solid var(--color-input);
    border-radius: 5px;
    background: transparent;
    color: var(--color-input);
    /* display: inline-block; */
    text-decoration: none;
    padding: .2rem 1.5rem;
}


.detail-flag-img {
    margin-top: 2rem;
    text-align: center;
    
}

.detail-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.detail-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    grid-template-areas: 
    "left right"
    "left rigth"
    "bottom bottom";
    margin-top: 2rem;
}

.left-column {
    grid-area: left;
}
.rigth-column {
    grid-area: rigth;
}
.border-countries-container {
    grid-area: bottom;
}
.border-countries-button {
    border-radius: 5px;
    border: 1px solid var(--color-input);
    color: var(--color-input);
    background: transparent;
    display: inline-block;
    text-decoration: none;
    padding: .2rem .75rem;
    margin-left: .75rem;
}

@media only screen and (max-width: 1000px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .detail-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .detail-content {
        justify-items: center;
    }
         body {
             margin: 1rem;
         }
}

@media only screen and (max-width: 600px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
        body {
            margin: 1rem;
        }
}

@media only screen and (max-width: 400px) {
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .detail-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items:left;
        grid-template-areas:
            "left"
            "rigth"
            "bottom";
    }
    body {
        margin: 0;
    }
}

/* light mode */
body.lightMode {
    background: var(--color-background);
    color: var(--color-text);
}

body.lightMode header {
    background-color: var(--color-background);
}

body.lightMode header button {
    color: var(--color-text-dm);
    background-color: var(--color-background);
}

body.lightMode button span {
    color: var(--color-text);
}

body.lightMode .icon {
    background-color: var(--color-input);
    transform: translateX(0);
}
body.lightMode .icon::after {
    content:none;
}
body.lightMode #query,
body.lightMode .filters select {
    background-color: var(--color-background);
    border: 1px solid var(--color-input);
    color: var(--color-text);
    box-shadow: none;
}

body.lightMode li {
    background-color: var(--color-background);
    border: 1px solid var(--color-input);
    box-shadow: none;
}

body.lightMode li a {
    color: var(--color-text);
}
/* dark mode */

body.darkMode {
    background: var(--color-background-dm);
    color: var(--color-text-dm);
}
body.darkMode header {
    background-color: var(--color-background-dm);
}
body.darkMode header button {
    color: var(--color-text-dm);
    background-color: var(--color-background-dm);
}
body.darkMode button span {
    color: var(--color-text-dm);
}
body.darkMode .icon {
    background-color:coral;
    transform: translateX(45px);
}
body.darkMode .icon::after {
    content: '';
    background-color: var(--color-background-dm);
    border-radius: 100%;
    display: block;
    position: absolute;
    left: -4px;
    top: 2px;
    height: 26px;
    width: 20px;
}
body.darkMode #query, body.darkMode .filters select{
    background-color: var(--color-background-dm);
    border: 1px solid var(--color-input-dm);
    color: var(--color-text-dm);
    box-shadow: none;
}
body.darkMode li {
    background-color: var(--color-background-dm);
    border: 1px solid var(--color-input-dm);
    box-shadow: none;
}
body.darkMode li a {
    color: var(--color-text-dm);
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--color-background-dm);
        color: var(--color-text-dm);
    }
    
    body header {
        background-color: var(--color-background-dm);
    }
    
    body header button {
        color: var(--color-text-dm);
        background-color: var(--color-background-dm);
    }
    
    body button span {
        color: var(--color-text-dm);
    }
    
    body .icon {
        background-color: coral;
        transform: translateX(45px);
    }
    
    body .icon::after {
        content: '';
        background-color: var(--color-background-dm);
        border-radius: 100%;
        display: block;
        position: absolute;
        left: -4px;
        top: 2px;
        height: 26px;
        width: 20px;
    }
    
    body #query,
    body .filters select {
        background-color: var(--color-background-dm);
        border: 1px solid var(--color-input-dm);
        color: var(--color-text-dm);
        box-shadow: none;
    }
    
    body li {
        background-color: var(--color-background-dm);
        border: 1px solid var(--color-input-dm);
        box-shadow: none;
    }
    
    body li a {
        color: var(--color-text-dm);
    }
};